# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件
import pandas as pd

In [2]:
df1=pd.DataFrame([[30,21]],columns=['Apples','Bananas'])
print(df1)
print('----------')
df2=pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])
print(df2)

   Apples  Bananas
0      30       21
----------
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [3]:
city=['Austin','Dallas','Austin','Dallas']
visitor=[139,237,326,456]
weekday=['Sun','Sun','Mon','Mon']
#city=['Austin','Dallas','Dallas','Austin','Dallas']
#visitor=[139,237,237,326,456]
#weekday=['Sun','Sun','Sun','Mon','Mon']
dict={'city':city,'visitor':visitor,'weekday':weekday}
df=pd.DataFrame(dict)
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [9]:
df3=df.loc[:,['weekday','visitor']]
print(df3)
df3_gp=df3.groupby('weekday')

print(df3_gp.groups)
df3_gp_mean=df3_gp.mean()
print(df3_gp_mean)
print('----------')
df3_gp_mean_index = df3_gp_mean.index
print(df3_gp_mean_index)
print('----------')
for i in range(len(df3_gp_mean_index)):
  print(df3_gp_mean.index[i],df3_gp_mean.iloc[i,0])

  weekday  visitor
0     Sun      139
1     Sun      237
2     Mon      326
3     Mon      456
{'Mon': [2, 3], 'Sun': [0, 1]}
         visitor
weekday
Mon          391
Sun          188
----------
Index(['Mon', 'Sun'], dtype='object', name='weekday')
----------
Mon 391
Sun 188

In [5]:
df_groupby = df.groupby('weekday')
df_groupby2 = df.groupby(['weekday','city'])
print(type(df_groupby))
print('--groups--')
print(df_groupby.groups)
print('--size--')
print(df_groupby.size())
print('--get_group--')
print(df_groupby.get_group("Sun"))
print('--sum--')
print(df_groupby.sum())
print(df_groupby2.sum())
print('--count--')
print(df_groupby.count())
print('--max--')
print(df_groupby.max())
print('--min--')
print(df_groupby.min())
print('--mean 平均數--')
print(df_groupby.mean())
print('--median 中位數--')
print(df_groupby.median())
print('--mode 眾數--')
print(pd.Series(df_groupby.get_group("Sun").visitor).mode()) #列出全部眾數
print(pd.Series(df_groupby.get_group("Sun").visitor).mode()[0]) #取第1個眾數

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
--groups--
{'Mon': [2, 3], 'Sun': [0, 1]}
--size--
weekday
Mon    2
Sun    2
dtype: int64
--get_group--
     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
--sum--
         visitor
weekday
Mon          782
Sun          376
                visitor
weekday city
Mon     Austin      326
        Dallas      456
Sun     Austin      139
        Dallas      237
--count--
         city  visitor
weekday
Mon         2        2
Sun         2        2
--max--
           city  visitor
weekday
Mon      Dallas      456
Sun      Dallas      237
--min--
           city  visitor
weekday
Mon      Austin      326
Sun      Austin      139
--mean 平均數--
         visitor
weekday
Mon          391
Sun          188
--median 中位數--
         visitor
weekday
Mon          391
Sun          188
--mode 眾數--
0    139
1    237
dtype: int64
139