# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
#- 計算每個不同種類 animal 的 age 的平均數
print('df.mean()=',df.mean())
df_groupby = df.groupby('animal') 
print(df_groupby.mean())
print('- 計算每個不同種類 animal 的 age 的平均數')
print(df_groupby.mean()['age'])
print('- 將資料依照 Age 欄位由小到大排序')
print(df.sort_values('age'))
print('- ，再依照 visits 欄位由大到小排序')
print(df.sort_values('visits',ascending=False))
print('- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
df['priority']=['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
df['priority']=(df['priority']=='yes')
print(df)

df.mean()= age       3.4375
visits    1.9000
dtype: float64
        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5
- 計算每個不同種類 animal 的 age 的平均數
animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
- 將資料依照 Age 欄位由小到大排序
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
- ，再依照 visits 欄位由大到小排序
  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.897540  0.475675  0.758134
1  0.066576  0.405887  0.371148
2  0.399919  0.411398  0.480024
3  0.735480  0.580842  0.203588
4  0.587847  0.947820  0.769021

In [5]:
print(df.mean())
df-df.mean()

0    0.537472
1    0.564324
2    0.516383
dtype: float64

          0         1         2
0  0.360068 -0.088649  0.241751
1 -0.470897 -0.158438 -0.145235
2 -0.137553 -0.152927 -0.036359
3  0.198007  0.016518 -0.312795
4  0.050375  0.383496  0.252638

In [6]:
df_row_mean = df.mean(axis=1)
df_row_mean_df = pd.DataFrame({0:df_row_mean,1:df_row_mean,2:df_row_mean})
print(df_row_mean_df)
df-df_row_mean_df

          0         1         2
0  0.710450  0.710450  0.710450
1  0.281203  0.281203  0.281203
2  0.430447  0.430447  0.430447
3  0.506637  0.506637  0.506637
4  0.768229  0.768229  0.768229

          0         1         2
0  0.187090 -0.234775  0.047684
1 -0.214628  0.124683  0.089944
2 -0.030528 -0.019049  0.049577
3  0.228843  0.074206 -0.303049
4 -0.180382  0.179591  0.000791

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [7]:
df

          0         1         2
0  0.897540  0.475675  0.758134
1  0.066576  0.405887  0.371148
2  0.399919  0.411398  0.480024
3  0.735480  0.580842  0.203588
4  0.587847  0.947820  0.769021

In [8]:
print('1) 哪一筆的資料總合最小 ')
print(df.sum(axis=1))
print('第 ',(df.sum(axis=1)).idxmin(),' 筆')

1) 哪一筆的資料總合最小
0    2.131350
1    0.843610
2    1.291341
3    1.519910
4    2.304688
dtype: float64
第  1  筆

In [9]:
print('2) 哪一欄位的資料總合最小 ')
print(df.sum())
print(type(df.sum()))
print('第 ',(df.sum()).idxmin(),' 欄')

2) 哪一欄位的資料總合最小
0    2.687361
1    2.821622
2    2.581915
dtype: float64
<class 'pandas.core.series.Series'>
第  2  欄